#main{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 550px;
    width:400px ;
    background: #b2d9ed;
    border-radius: 15px;
    overflow-y: auto;
}
.header {
    background: #111112;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.input-area{
    display: flex;
    padding: 10px;
    background: #ffffff;
    border-top: 1px solid #ccc;
}
.user-msg, .bot-msg {
    max-width: 75%;
    padding: 10px 14px;
    margin: 6px 0;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1.4;
}


.user-msg {
    align-self: flex-end;
    background: #d1f7d9;
    border-bottom-right-radius: 0;
    text-align: left;
}


.bot-msg {
    align-self: flex-start;
    background: #ffffff;
    border-bottom-left-radius: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    text-align: left;
}


.chat-window {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    gap: 4px;
}